$mainFont: 'Lato', sans-serif;
$secondaryFont: 'Montserrat', sans-serif;

// == COLORS ==
$backgroundColor: #f6fafd;

$colorMain: #414141;
$colorPrice: #bb2fb6;
$colorWhite: #fff;
$colorGradientFirst: #fd8251;
$colorGradientSecond: #f33dea;